body {
    font-family: sans-serif;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkkYxnqF6lJpcN44YX6iAZT27n7cJoE165CXeG1J7iwdz94FZf");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

	.body{
	              color:white;
				
				
			}
            #section{
                
                font-size:150%;
                color:yellow;
            }
            #heads{
                color:yellow;
            }
            #tags{
                color:white;
            }
            
